[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/themes/mainroad"]
	path = themes/themes/mainroad
	url = https://github.com/vimux/mainroad
