{{ $title := .Title }}
{{ $url := printf "%s" .Permalink | absLangURL }}
{{ $icon_size := "32px" }}

{{ if not .Params.disable_share }}
  <div id="sharing" class="mt3">

    {{ $facebook_href := printf "https://www.facebook.com/sharer.php?u=%s" $url }}
    <a href="{{ $facebook_href }}" class="f4 link dim" aria-label="share on Facebook">
      <i class="fab fa-facebook-square fa-lg black"></i>
    </a>

    {{ $twitter_href := printf "https://twitter.com/share?url=%s&text=%s" $url $title }}
    {{ with .Site.Social.twitter }}
      {{ $twitter_href = printf "%s&via=%s" $twitter_href . }}
    {{ end }}
    <a href="{{ $twitter_href }}" class="f4 link dim" aria-label="share on Twitter">
      <i class="fab fa-twitter-square fa-lg black"></i>
    </a>

  </div>
{{ end }}