<div class="relative w-100 mb4 bg-white nested-copy-line-height">
  <div class="bg-white mb3 pa4 gray overflow-hidden">
    {{ $permalink := .Permalink }}
    {{ with .Resources.GetMatch "pub_logo" }}
      <div class="shadow-4">
        <a class="link black dim" href="{{ $permalink }}"><img src="{{ .Permalink }}"/></a>
      </div>
    {{ end }}
    <h1 class="f2 near-black">
      <a href="{{ .Permalink }}" class="link black dim">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f4 lh-copy nested-copy-line-height">
      {{ .Summary  }}
    </div>
  </div>
</div>
