{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph3-l pv3 pv3-l f4 center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
  </article>
  <article class="cf">
    <div class="fl w-100 w-40-ns tc">
      <h1 class="f1">Recent Publications</h1>
      <section class="flex-ns flex-wrap justify-around">
        {{ range first 1 (where site.RegularPages "Section" "publications") }}
          <div class="">
            {{- partial "summary.html" . -}}
          </div>
        {{ end }}
      </section>
    </div>
    <div class="fl w-100 w-60-ns tc">
      <h1 class="f1">Recent Updates</h1>
      <section class="flex-ns flex-wrap justify-around">
        {{ range first 2 (where site.RegularPages "Section" "blog") }}
          <div class="w-50-l">
            {{- partial "summary.html" . -}}
          </div>
        {{ end }}
      </section>
    </div>
  </article>
{{ end }}
