{{ define "header" }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="mt4 w-100">
      <h1 class="f1 mt3 mb1">
        {{- .Title -}}
      </h1>

      {{ with .Params.summary }}
      <p class="f4 tracked">
        <em>
          {{ . }}
        </em>
      </p>
      {{ end }}

      {{ with .Params.author }}
      <p class="f4">
          By
          {{ if reflect.IsSlice . }}
              {{ delimit . ", " | markdownify }}
          {{else}}
              {{ . | markdownify }}
          {{ end }}
      </p>
      {{ end }}

      {{ with .Params.version }}
      <p class="f4">
        Version: <strong>
          {{ . }}
        </strong>
      </p>
      {{ end }}
    </header>

    {{ with .Resources.GetMatch "pub_logo" }}
    <div class="pr4-l w-two-thirds-l">
      <img src="{{ .RelPermalink }}"/>
    </div>
    {{ end }}

    <aside class="w-30-l">
      {{ if or (isset .Params "pdf_link") (isset .Params "md_link") (isset .Params "cs_link") }}
        <div class="bg-light-gray pa3 mb4 nested-copy-line-height nested-links">
          {{ $version := .Params.version }}
          {{ with .Params.html_link }}
            <h2>Read Online</h2>
            <ul class="fa-ul">
            <li>
              <a href="{{ . }}" class="f4 db link dim"><span class="fa-li"><i class="fas fa-code"></i></span>{{ $version }}</a>
            </li>
          </ul>
          {{ end }}
          <h2>Downloads</h2>
          <ul class="fa-ul">
            {{ with .Params.pdf_link }}
              <li>
                <a href="{{ . }}" class="f4 db link dim"><span class="fa-li"><i class="fas fa-file-pdf"></i></span>PDF</a>
              </li>
            {{ end }}
            {{ with .Params.md_link }}
              <li>
                <a href="{{ . }}" class="f4 db link dim"><span class="fa-li"><i class="fab fa-markdown"></i></span>Markdown</a>
              </li>
            {{ end }}
            {{ with .Params.cs_link }}
              <li>
                <a href="{{ . }}" class="f4 db link dim"><span class="fa-li"><i class="fas fa-file-alt"></i></span>Character Sheet</a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
      <div class="ph3 nested-copy-line-height nested-links">
        <h2 class="mt0">Share</h2>
        {{ partial "social-share.html" . }}
      </div>
    </aside>

    <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
      {{- .Content -}}
      {{- partial "tags.html" . -}}
    </div>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </article>
{{ end }}
